@import "../../_settings.scss";

$max-width-860: "only screen and (max-width : 53.750em)";

@include breakpoint(medium) {
	body#products {
		.row.page-intro {
			padding: rem(40) 0;
		}

		section.wide#product-definitions {
			// padding: rem(20);

			.product-block {
				// padding: rem(20);

				.description {
					h2 {
						margin: 0;

						@media #{$max-width-860} {
							font-size: rem(30);
						}
					}

					h3 {
						margin-bottom: rem(16);

						@media #{$max-width-860} {
							font-size: rem(26);
						}
					}

					p {
						font-size: rem(20);
						line-height: 1.4;

						@media #{$max-width-860} {
							font-size: rem(18);
						}
					}
				}

				.reasons {
					p {
						font-size: rem(20);
						line-height: 1.4;
						margin-bottom: rem(8);

						@media #{$max-width-860} {
							font-size: rem(18);
						}
					}

					ul {
						font-size: rem(20);
						line-height: 1.4;
						padding-left: rem(10);

						@media #{$max-width-860} {
							font-size: rem(18);
						}
					}
				}
			}
		}

		section#animal-diversity {
			padding: rem(40) 0;

			.section-title {
				margin-bottom: rem(30);
			}
		}

		section#product-image-gallery {
			.section-title {
				margin-bottom: rem(40);
			}

			.gallery {
				.ordering-button {
					padding: rem(12) rem(38);
					@include button-expand(false);
				}
			}
		}
	}
}