@import "../../_settings.scss";

@import "_small.scss";
@import "_medium.scss";
@import "_large.scss";


body#products {
	section.wide#product-definitions {
		width: 100%;
		background: $dark-blue;

		.product-block {
			background: $off-white;
		}
	}
}