@import "../../_settings.scss";

@import "_small.scss";
@import "_medium.scss";
@import "_large.scss";


body#products {
	section.wide#product-definitions {
		width: 100%;
		background: $dark-blue;

		.product-block {
			background: $off-white;

			.ordering-button {
				background: $dark-blue;
				border-radius: rem(5);
				box-shadow: $z-1;
				font-size: rem(20);
				border: rem(2) solid $dark-blue;

				&:hover {
					background: #fff;
					color: $dark-blue;
					box-shadow: $z-2;
				}
			}
		}
	}
}