@import "../../_settings.scss";

@import "_small.scss";
@import "_medium.scss";
@import "_large.scss";


body#products {
	section.wide#product-definitions {
		width: 100%;
		background: $dark-blue;
		border: rem(3) solid $dark-blue;
		padding: rem(20) 0;

		.product-block {
			background: $off-white;
			padding: rem(20);

			.product-image {
				text-align: center;

				img {
					max-width: 260px;
					width: 100%;
					height: auto;
					margin-bottom: rem(18);
				}
			}

			.ordering-button {
				background: $dark-blue;
				border-radius: rem(5);
				box-shadow: $z-1;
				font-size: rem(20);
				border: rem(2) solid $dark-blue;

				&:hover {
					background: #fff;
					color: $dark-blue;
					box-shadow: $z-2;
				}
			}
		}
	}

	section#animal-diversity {
		padding: rem(20) 0;

		img {
			max-width: 260px;
			width: 100%;
			height: auto;
			margin-bottom: rem(18);
		}
	}

	section#product-image-gallery {
		padding: rem(30) 0;
		background: #F7F7F7;
		border: rem(3) solid #30659B;
		box-shadow: 0 rem(1) rem(4) 0 rgba(0,0,0,0.37);

		.gallery {
			.thumbnail-container {
				img {
					margin-bottom: 16px;
				}
			}
		}
	}
}



