@import "../../_settings.scss";


@include breakpoint(small only) {
	body#products {
		.page-intro {
			h1 {
				font-size: rem(30);
			}
		}
		
		section.wide#product-definitions {
			.product-block {
				.description {
					h2 {
						font-size: rem(24);
					}
				}
			}
			.product-block#orthotics {
				margin-bottom: rem(20);
			}
		}

		section#animal-diversity {
			.section-title {
				font-size: rem(24);
			}
		}

		section#product-image-gallery {
			.gallery {
				.ordering-button {
					font-size: rem(18);
				}
			}
		}
	}
}


