.index#index {
	.block-banner {
		.block {
			position: relative;

			.content {
				padding: 0 15px;
			}

			.prose {
				h3 {
					font-size: $h3;
					margin: 0;
				}

				p {
					font-size: $p;
				}
			}
		}
	}
}
