.index#index {
	.build-a-brace-block {
		position: relative;

		.content {
			padding: 0 15px;
			z-index: 5;
			position: absolute;
			width: 100%;

			.prose {
				float: right;
				display: inline-block;
			}
		}

		.image-scrim {
			position: absolute;
			height: 100%;
			width: 100%;
			background: linear-gradient(-180deg, rgba(119,119,119,.00) 50%, rgba(0,0,0,.80) 100%);
		}
	}
}
