.index#index {
	.build-a-brace-block {
		position: relative;

		.content {
			z-index: 5;
			position: absolute;
			width: 100%;
		}

		.image-scrim {
			position: absolute;
			height: 100%;
			width: 100%;
			background: rgba(247,247,247,.50);
		}

		@include breakpoint(medium) {
			.prose {
				float: right;
				display: inline-block;
			}
		}
	}
}
