.go-fund-me-section {
	.go-fund-me-page-link {
		background: #fff;
		box-shadow: $z-1;
		border-radius: 12px;
		border: 4px solid #00B964;
		padding: 4px 32px;

		&:hover {
			box-shadow: $z-3;
		}
	}
}
