.meet-will-section {
	img.will {
		border-radius: 24px;
		max-width: 370px;
	}

	.prose-container {
		background: #fefefe;
		border: rem-calc(2) solid #30659b;
		border-radius: rem-calc(16);
		max-width: rem-calc(600);

		.page-link {
			background: #30659b;
			border: rem-calc(2) solid #fff;
			box-shadow: 0 rem-calc(1) rem-calc(4) 0 rgba(0,0,0,.37);
			border-radius: rem-calc(12);
			line-height: 1;
			color: #fff;
		}
	}
}
