.meet-will-section {
	img.will {
		border-radius: 24px;
		width: 370px;
	}

	.prose-cell {
		margin-bottom: 40px;

		@include breakpoint(medium) {
			margin-bottom: 0;
		}
	}

	.prose-container {
		background: #fefefe;
		border: rem-calc(2) solid #30659b;
		border-radius: rem-calc(16);
		max-width: rem-calc(600);

		h2 {
			margin-bottom: 16px;

			@include breakpoint(760) {
				margin-bottom: 32px;
			}
		}

		p {
			line-height: 1.5;

			@include breakpoint(760) {
				margin-bottom: 32px;
			}

			@include breakpoint(large) {
				font-size: $p * 1.25;
				line-height: 1.6;
			}
		}

		.page-link {
			background: #30659b;
			border: rem-calc(2) solid #fff;
			box-shadow: 0 rem-calc(1) rem-calc(4) 0 rgba(0,0,0,.37);
			border-radius: rem-calc(12);
			line-height: 1;
			color: #fff;
			font-size: $h4-medium;

			@include breakpoint(large) {
				font-size: $h3-medium;
			}
		}
	}
}
