.puppy-bowl-2019-journey-story {
	.img-wrap {
		margin-bottom: rem-calc(32);

		img {
			width: 300px;
		}
	}

	.animal-planet-logo-img-cell {
		margin-top: rem-calc(32);
		display: none;
		visibility: hidden;

		@include breakpoint(987) {
			display: block;
			visibility: visible;
		}
	}

	.double-img-row {
		max-width: 650px;

		@include breakpoint(987) {
			display: none;
			visibility: hidden;
		}
	}

	.prose {
		max-width: rem-calc(400);
		margin: 0 auto;

		.lead-heading {
			line-height: 1.4;
			margin-bottom: rem-calc(32);
		}

		@include breakpoint(medium) {
			max-width: rem-calc(570);

			p {
				font-size: $p * 1.25;
			}
		}
	}
}
