@import '_header.scss';

.splash {
	background: #acc1d8 url('/img/index/splash/splash-small.jpg') center/cover no-repeat;
	height: 320px;

	@include breakpoint(380) {
		height: 400px;
	}

	@include breakpoint(480) {
		height: 500px;
	}

	@include breakpoint(medium) {
		background: #acc1d8 url('/img/index/splash/splash-medium.jpg') center/cover no-repeat;
		height: 400px;;
	}
}
