.product-builder-accordion {
	.option-cell {
		padding: 0 rem-calc(5);

		span {
			max-width: 200px;
			display: inline-block;
			cursor: pointer;

			p {
				margin: rem-calc(16) 0;
			}
		}
	}
	#affected-limb {
		img {
			border: 5px solid #000;
		}
	}
	#injury-solution {
		img {
			border: 5px solid $dark-blue;
		}
	}
}
