@import "../../_settings.scss";

body#contact {
	min-height: 2000px;

	.content-wrapper {
		.content {
			padding: 0;
		}
	}
}

@include breakpoint(medium) {
	body#contact {
		#contact-info-panel {
			padding: 0 0 rem(5);

			.prose {
				box-shadow: $z-1;
				padding: rem(50) rem(30) rem(20);

				a {
					&:hover {
						text-decoration: underline;
					}
				}

				* {
					line-height: 1.2;
				}

				h1 {
					margin-bottom: rem(20);
				}

				h2 {
					@extend .h3;
					margin-bottom: rem(30);
				}

				h3 {
					@extend .h4;

					small {
						@extend .body-font;
						display: block;
						letter-spacing: 0;
						color: $black;
						font-size: rem(16);
					}
				}

				.address-box {
					margin-bottom: rem(40);
					line-height: 1.4 !important;
				}

				address {
					font-size: rem(23);
				}

				.profile-box {
					p {
						font-size: rem(23);
						margin-bottom: rem(8);
					}
				}
			}
		}

		#interactive-map {
			height: rem(560);
		}
	}
}

@include breakpoint(large) {
	body#contact {
		#contact-info-panel {
			height: rem(600);
			padding: 0 rem(5) 0 0;

			.prose {
				background: #fff;
				box-shadow: $z-1;
				height: rem(600);
				z-index: 10;
				width: 100%;
				padding: rem(60) rem(30) 0;
			}
		}

		#interactive-map {
			height: rem(600);
			position: relative;

			.click-overlay {
				width: 100%;
				min-height: rem(600);
				position: absolute;
				top: 0;
			}
		}
	}
}





