@import "../_settings.scss";
@import "typography/_fonts.scss";


.title {
	font-family: $title-font;
	font-weight: $title-weight;
	color: $dark-blue;
	letter-spacing: rem(2);
}

.heading {
	font-family: $header-font;
	font-weight: $header-weight;
}

p {
	@include breakpoint(medium) {
		font-size: rem(18);
	}
}

.normal {
	font-weight: normal;
}