@import "../_settings.scss";
@import "typography/_fonts.scss";


.title {
	font-family: $title-font;
	font-weight: $title-weight;
	color: $dark-blue;
	text-transform: uppercase;
	letter-spacing: rem(2);
}

.heading {
	font-family: $header-font;
	font-weight: $header-weight;
}

.body-font {
	font-family: $body-font-family;
	font-weight: $global-weight-normal;
}

p {
	@include breakpoint(medium) {
		font-size: rem(18);
	}
}

.normal {
	font-weight: normal;
}

a#colorful-name-hover {
	// color: #000;
	// text-shadow: 0 rem(2) rem(1) #fff;

	&:hover {
		// text-decoration: underline;

		span.green {
			color: #fff;
			background: $light-green;
		}

		span.blue {
			color: #fff;
			background: $dark-blue;
		}
	}
}

// FOR SASS REFERENCE ONLY ::
.h2 {
	font-size: rem(20);

	@include breakpoint(medium) {
		font-size: rem(40);
	}
}

.h3 {
	font-size: rem(19);

	@include breakpoint(medium) {
		font-size: rem(31);
	}
}

.h4 {
	font-size: rem(18);

	@include breakpoint(medium) {
		font-size: rem(25);
	}
}

address {
	font-style: normal;
}