@import 'typography/_fonts.scss';


.title {
	font-family: $title-font;
	font-weight: $title-weight;
	color: $dark-blue;
	text-transform: uppercase;
	letter-spacing: rem-calc(2);
}

.title-font {
	font-family: $title-font;
	font-weight: $title-weight;
}

.heading {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
}

.body-font {
	font-family: $body-font-family;
	font-weight: $global-weight-normal;
}

.normal {
	font-weight: normal;
}

a#colorful-name-hover {
	// color: #000;
	// text-shadow: 0 rem-calc(2) rem-calc(1) #fff;

	&:hover {
		// text-decoration: underline;

		span.green {
			color: #fff;
			background: $light-green;
		}

		span.blue {
			color: #fff;
			background: $dark-blue;
		}
	}
}

.white {
	color: $white;
}

.black {
	color: $black;
}



address {
	font-style: normal;
}

// ----------------------------------------------------
// |            Default Typographhy Sizing            |
// ----------------------------------------------------

.p {
	font-size: $p;
}

.h1 {
	font-size: $h1;
}

.h2 {
	font-size: $h2;
}

.h3 {
	font-size: $h3;
}

.h4 {
	font-size: $h4;
}

.h5 {
	font-size: $h5;
}

.h6 {
	font-size: $h6;
}

@include breakpoint(medium) {
	.p {
		font-size: $p-medium;
	}

	.h1 {
		font-size: $h1-medium;
	}

	.h2 {
		font-size: $h2-medium;
	}

	.h3 {
		font-size: $h3-medium;
	}

	.h4 {
		font-size: $h4-medium;
	}

	.h5 {
		font-size: $h5-medium;
	}

	.h6 {
		font-size: $h6-medium;
	}
}
