<footer>
	<div class="row text-center">
		<ul class="vertical medium-horizontal menu">
			<li><a href="/">Home</a></li>
			<li><a href="/products">Products</a></li>
			<li id="op-faq"><a href="/ordering-product-faq">Ordering + Product FAQ</a></li>
			<!-- <li><a href="#">About PALS</a></li> -->
			<li><a href="/blog">Blog</a></li>
			<!-- <li><a href="/contact">Contact</a></li> -->
		</ul>
	</div>
	<div class="row text-center" id="contact-deets">
		<a id="colorful-name-hover" href="mailto:info@houstonpals.com" class="normal">Info@Houston<span class="green">P</span><span class="blue">A</span><span class="green">L</span><span class="blue">S</span>.com</a>
		<p id="phone" class="normal">832-444-8384</p>
	</div>
</footer>