<header style="margin-bottom: 500px;">
	<div class="expanded row">
		<aside class="show-for-medium">
			<a id="colorful-name-hover" href="mailto:blah@blah.com" class="normal">Info@Houston<span class="green">P</span><span class="blue">A</span><span class="green">L</span><span class="blue">S</span>.com</a>
		</aside>
		<div class="medium-12 large-5 columns text-center logo">
			<img src="/img/assets/logo/logo.png" srcset="/img/assets/logo/logo@2x.png 2x" alt="Houston PALS Logo">
		</div>

		<div class="column title-bar show-for-small-only text-right" data-hide-for="medium">
			<a href="mailto:blah@blah.com"><i class="icon email"></i></a>
			<a href="mailto:blah@blah.com"><i class="icon phone"></i></a>
			<div class="title-bar-title">MENU</div>
			<button class="menu-icon" type="button" data-toggle="top-bar-nav"></button>
		</div>

		<div class="medium-12 large-7 columns nav-wrapper">
			<nav class="custom-dropdown-pane dropdown-pane text-center" data-dropdown data-close-on-click="true" id="top-bar-nav">
				<ul class="vertical medium-horizontal menu">
					<li><a href="#">Home</a></li>
					<li><a class="active" href="#">Products</a></li>
					<li id="op-faq"><a href="#">Ordering + Product FAQ</a></li>
					<li id="about-pals"><a href="#">About PALS</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>