@import "../_settings.scss";

footer {
	background: #30659B;
	padding: rem(40) 0;
	color: #fff;

	ul.menu {
		display: inline-block;

		@include breakpoint(medium) {
			margin-bottom: rem(12);
		}

		li {
			padding: 0 rem(16);

			a {
				display: inline-block;
				@extend .normal;
				color: #fff;
				padding: rem(12) 0;

				&:hover {
					color: #fff;
					text-decoration: underline;
				}
			}
		}

		@include breakpoint(medium only) {
			li#op-faq {
				a {
					width: rem(100);
					line-height: rem(25);
				}
			}
		}
	}

	#contact-deets {
		a {
			color: #fff;
			margin-bottom: rem(12);
			display: inline-block;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

#snc-link {
	padding-top: rem(40);
	display: none;
	visibility: hidden;

	a {
		font-size: rem(12);
		letter-spacing: rem(1.2);
		color: #ddd;
		font-weight: normal;

		span {
			text-decoration: underline;
		}

		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
}

body#index {
	#snc-link {
		display: block;
		visibility: visible;
	}
}