{{!-- This is the base layout for your project, and will be used on every page. --}}
<?php 
	include($_SERVER['DOCUMENT_ROOT'].'/php/autoVer.php');
?>
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" class="no-js" lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} | Houston PALS</title>
	<meta name="description" content="{{ description }}">
	<link rel="canonical" href="http://houstonpals.com{{ url }}" />
	<link rel="author" href="/humans.txt">

	<meta name="apple-mobile-web-app-title" content="Houston PALS">
	<meta name="application-name" content="Houston PALS">

	<link rel="icon" href="/favicon.ico"/>
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="icon" sizes="192x192" href="/touch-icon-192x192.png">

	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ og-title }}" />
	<meta property="og:description" content="{{ og-description }}" />
	<meta property="og:url" content="http://houstonpals.com{{ url }}" />
	<meta property="og:site_name" content="Houston PALS" />
	<meta property="og:image" content="http://houstonpals.com{{ og-image }}" />

	<link rel="stylesheet" href="{{ cdn }}<?php autoVer('/css/app.css'); ?>"/>

</head>
<body id="{{ body-id }}" class="{{ body-class }}">

{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}

{{> header}}

<main>
	{{> body}}
</main>

{{> footer}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery/2-2-2/jquery.min.js"><\/script>')</script>
<script src="{{ cdn }}<?php autoVer('/js/app-min.js'); ?>"></script>
<script src="<?php autoVer('/js/scripts-min.js'); ?>"></script>


<script>
	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	e.src='https://www.google-analytics.com/analytics.js';
	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	ga('create','UA-55459011-10','auto');ga('send','pageview');
</script>
</body>
</html>